<div class="row">
    <div class="span3">
<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.text_field :word , :placeholder =>'Word' %>
  </div>
  <div class="field">
    
    <%= f.text_area :meaning , :rows=>10 ,:placeholder =>'Meaning' , :class=>'span4'%>
  </div>
  <div class="actions">
    <%= f.submit 'Create', :class => 'btn btn-primary  btn-large btn-block' %>
  </div>
<% end %>
  </div>
</div>