<div class="row">
  <div class="span4 add-blk">
<h1>Listing words</h1>

<table class="table table-hover">
  <tr>
    <th>Word</th>
    <th>Meaning</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @words.each do |word| %>
  <tr>
    <td><%= word.word %></td>
    <td><%= word.meaning %></td>
    <td><%= link_to word do %>
        <i class="icon-eye-open"></i>
        <% end %>
    </td>
    <td><%= link_to  edit_word_path(word) do %>
        <i class="icon-edit"></i>
        <%  end  %></td>
    <td><%= link_to  word, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="icon-trash"></i>
        <%  end  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Word', new_word_path %>


</div>
</div>

