<div class="row">
	<div class="span4 add-blk">
<p id="notice"><%= notice %></p>

<h1><%= @word.word %></h1>


<p>
  <b>Meaning:</b><br/>
  <%= @word.meaning %>
</p>

<div class="btn-group">
<%= link_to 'Edit', edit_word_path(@word) , :class=>'btn' %>
<%= link_to 'Back', words_path , :class=>'btn'%>
</div>

</div>
</div>